<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.liuguilin.lovewallpaper"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/NoTitleFullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/text_setting"/>

        <activity android:name=".activity.SpecialActivity"/>
        <activity android:name=".activity.CategoryActivity"/>

        <activity
            android:name=".activity.GalleryActivity"
            android:theme="@style/NoTitleFullscreen"/>

        <activity
            android:name=".activity.CityActivity"
            android:label="@string/text_select_city"/>

        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/text_about"/>

        <activity android:name=".activity.WebViewActivity"/>

        <activity
            android:name=".activity.AndroidVideoActivity"
            android:label="@string/text_my_video"/>

        <activity
            android:name=".activity.SystemInformationActivity"
            android:label="@string/text_system_information"/>

        <activity
            android:name=".activity.PuzzleGameActivity"
            android:label="游戏"/>

    </application>

</manifest>